[Unit]
Description=Control yaf as a live capture daemon
After=network.target local-fs.target syslog.socket named.service super_mediator.service
#Requisite=syslog.socket

[Service]
Type=simple
ExecStart=/usr/local/bin/yaf --force-read-all --mac --silk --verbose --in {{ capture_interface }} --out 127.0.0.1 --ipfix-port 4739 --ipfix tcp --noerror --plugin-name=/usr/local/lib/yaf/dpacketplugin.la --max-payload 4096 --applabel --p0fprint --ndpi --live pcap
Restart=on-failure
KillSignal=INT

[Install]
WantedBy=multi-user.target
