input {
    file {
        type => "ipfix"
        path => ["{{ home_dir }}/yaf/json/yaf.*.json" ]
	codec => json
    }
}

filter {
    if ([type] == "ipfix") {
        grok {
            match => ["path", "(?<index>yaf.\d{8,14})\.json$" ]
        }
        date {
            locale => "en"
            match => ["[flows][flowStartMilliseconds]", "yyyy-MM-dd HH:mm:ss.SSS", "ISO8601"]
            target => "@timestamp"
            timezone => "UTC"
        }
        date {
            locale => "en"
            match => ["[flows][flowStartMilliseconds]", "yyyy-MM-dd HH:mm:ss.SSS", "ISO8601"]
            target => "[flows][flowStartMilliseconds]"
            timezone => "UTC"
        }
        date {
            locale => "en"
            match => ["[flows][flowEndMilliseconds]", "yyyy-MM-dd HH:mm:ss.SSS", "ISO8601"]
            target => "[flows][flowEndMilliseconds]"
            timezone => "UTC"
        }

	if ([flows][sourceIPv4Address]) {
            mutate {
	        add_field => { "src_ip_dst_ip" => "%{[flows][sourceIPv4Address]} - %{[flows][destinationIPv4Address]}" }
	        add_field => { "src_ip_proto" => "%{[flows][sourceIPv4Address]} %{[flows][protocolIdentifier]}" }
	        add_field => { "dst_ip_proto" => "%{[flows][destinationIPv4Address]} %{[flows][protocolIdentifier]}" }
	        add_field => { "src_ip_dst_ip_proto" => "%{[flows][sourceIPv4Address]} - %{[flows][destinationIPv4Address]} %{[flows][protocolIdentifier]}" }
	    }
	    if ([flows][sourceIPv4Address]) {
                mutate {
	            add_field => { "src_ip_mac" => "%{[flows][sourceIPv4Address]} %{[flows][sourceMacAddress]}" }
	            add_field => { "dst_ip_mac" => "%{[flows][destinationIPv4Address]} %{[flows][destinationMacAddress]}" }
	        }
	    }
	}
	if ([flows][protocolIdentifier] == 6 or [flows][protocolIdentifier] == 17) {
            mutate {
	        add_field => { "src_ip_port" => "%{[flows][sourceIPv4Address]}:%{[flows][sourceTransportPort]}" }
	        add_field => { "dst_ip_port" => "%{[flows][destinationIPv4Address]}:%{[flows][destinationTransportPort]}" }
	        add_field => { "src_ip_port_proto" => "%{[flows][sourceIPv4Address]}:%{[flows][sourceTransportPort]} %{[flows][protocolIdentifier]}" }
	        add_field => { "dst_ip_port_proto" => "%{[flows][destinationIPv4Address]}:%{[flows][destinationTransportPort]} %{[flows][protocolIdentifier]}" }
	        add_field => { "src_ip_dst_ip_port" => "%{[flows][sourceIPv4Address]} - %{[flows][destinationIPv4Address]}:%{[flows][destinationTransportPort]}" }
	        add_field => { "src_ip_dst_ip_port_proto" => "%{[flows][sourceIPv4Address]} - %{[flows][destinationIPv4Address]}:%{[flows][destinationTransportPort]} %{[flows][protocolIdentifier]}" }
	        add_field => { "src_ip_port_dst_ip_port" => "%{[flows][sourceIPv4Address]}:%{[flows][sourceTransportPort]} - %{[flows][destinationIPv4Address]}:%{[flows][destinationTransportPort]}" }
	        add_field => { "src_ip_port_dst_ip_port_proto" => "%{[flows][sourceIPv4Address]}:%{[flows][sourceTransportPort]} - %{[flows][destinationIPv4Address]}:%{[flows][destinationTransportPort]} %{[flows][protocolIdentifier]}" }
            }
	}
	if ([flows][protocolIdentifier] == 6) {
            if ([flows][initialTCPFlags] == "S" or [flows][initialTCPFlags] == "ECS") {
                mutate {
	            add_field => { "server_ip" => "%{[flows][destinationIPv4Address]}" }
		    add_field => { "server_port" => "%{[flows][destinationTransportPort]}" }
                    add_field => { "server_ip_port" => "%{server_ip}:%{server_port}" }
		    add_field => { "client_ip" => "%{[flows][sourceIPv4Address]}" }
	            add_field => { "client_ip_server_ip" => "%{client_ip} - %{server_ip}" }
	            add_field => { "client_ip_server_ip_port" => "%{client_ip} - %{server_ip}:%{server_port}" }
	        }
            } else if ([flows][reverseInitialTCPFlags] == "S" or [flows][reverseInitialTCPFlags] == "ECS") {
                mutate {
	            add_field => { "server_ip" => "%{[flows][sourceIPv4Address]}" }
	            add_field => { "server_port" => "%{[flows][sourceTransportPort]}" }
	            add_field => { "server_ip_port" => "%{server_ip}:%{server_port}" }
	            add_field => { "client_ip" => "%{[flows][destinationIPv4Address]}" }
	            add_field => { "client_ip_server_ip" => "%{client_ip} - %{server_ip}" }
	            add_field => { "client_ip_server_ip_port" => "%{client_ip} - %{server_ip}:%{server_port}" }
	        }
            }
	}
    }
}

output {
    if ([type] == "ipfix") {
        elasticsearch {
            hosts => ["localhost:9200"]
            index => "%{index}"
        }
    }
}