input {
    file {
        type => "ipfix"
        path => ["{{ home_dir }}/yaf/json/yaf.*.json" ]
        start_position => "beginning"
    }
}

filter {
    if ([type] == "ipfix") {
        grok {
            match => ["path", "(?<index>yaf.\d{8,14})\.json$" ]
        }
        json {
            source => "message"
        }
        date {
            locale => "en"
            match => ["[flows][flowStartMilliseconds]", "yyyy-MM-dd HH:mm:ss.SSS", "ISO8601"]
            target => "@timestamp"
            timezone => "UTC"
        }
        date {
            locale => "en"
            match => ["[flows][flowStartMilliseconds]", "yyyy-MM-dd HH:mm:ss.SSS", "ISO8601"]
            target => "[flows][flowStartMilliseconds]"
            timezone => "UTC"
        }
        date {
            locale => "en"
            match => ["[flows][flowEndMilliseconds]", "yyyy-MM-dd HH:mm:ss.SSS", "ISO8601"]
            target => "[flows][flowEndMilliseconds]"
            timezone => "UTC"
        }

	if ([flows][sourceIPv4Address]) {
            {% if use_geoip == true %}
            geoip {
                source => "[flows][sourceIPv4Address]"
                target => "[src][geoip]"
            }
            geoip {
                source => "[flows][destinationIPv4Address]"
                target => "[dst][geoip]"
            }
            if [src][geoip][region_code] {
                mutate {
                    add_field => {
                        "[src][geoip][region_iso_code]" => "%{[src][geoip][country_code2]}-%{[src][geoip][region_code]}"
                    }
                }
            }
            if [dst][geoip][region_code] {
                mutate {
                    add_field => {
                        "[dst][geoip][region_iso_code]" => "%{[dst][geoip][country_code2]}-%{[dst][geoip][region_code]}"
                    }
                }
            }
            {% endif %}
            mutate {
	        add_field => { "src_ip_dst_ip" => "%{[flows][sourceIPv4Address]} - %{[flows][destinationIPv4Address]}" }
	        add_field => { "src_ip_proto" => "%{[flows][sourceIPv4Address]} %{[flows][protocolIdentifier]}" }
	        add_field => { "dst_ip_proto" => "%{[flows][destinationIPv4Address]} %{[flows][protocolIdentifier]}" }
	        add_field => { "src_ip_dst_ip_proto" => "%{[flows][sourceIPv4Address]} - %{[flows][destinationIPv4Address]} %{[flows][protocolIdentifier]}" }
	    }
	    if ([flows][sourceMacAddress]) {
                mutate {
	            add_field => { "src_ip_mac" => "%{[flows][sourceIPv4Address]} %{[flows][sourceMacAddress]}" }
	            add_field => { "dst_ip_mac" => "%{[flows][destinationIPv4Address]} %{[flows][destinationMacAddress]}" }
	        }
	    }
	}
	if ([flows][protocolIdentifier] == 6 or [flows][protocolIdentifier] == 17) {
            mutate {
	        add_field => { "src_ip_port" => "%{[flows][sourceIPv4Address]}:%{[flows][sourceTransportPort]}" }
	        add_field => { "dst_ip_port" => "%{[flows][destinationIPv4Address]}:%{[flows][destinationTransportPort]}" }
	        add_field => { "src_ip_port_proto" => "%{[flows][sourceIPv4Address]}:%{[flows][sourceTransportPort]} %{[flows][protocolIdentifier]}" }
	        add_field => { "dst_ip_port_proto" => "%{[flows][destinationIPv4Address]}:%{[flows][destinationTransportPort]} %{[flows][protocolIdentifier]}" }
	        add_field => { "src_ip_dst_ip_port" => "%{[flows][sourceIPv4Address]} - %{[flows][destinationIPv4Address]}:%{[flows][destinationTransportPort]}" }
	        add_field => { "src_ip_dst_ip_port_proto" => "%{[flows][sourceIPv4Address]} - %{[flows][destinationIPv4Address]}:%{[flows][destinationTransportPort]} %{[flows][protocolIdentifier]}" }
	        add_field => { "src_ip_port_dst_ip_port" => "%{[flows][sourceIPv4Address]}:%{[flows][sourceTransportPort]} - %{[flows][destinationIPv4Address]}:%{[flows][destinationTransportPort]}" }
	        add_field => { "src_ip_port_dst_ip_port_proto" => "%{[flows][sourceIPv4Address]}:%{[flows][sourceTransportPort]} - %{[flows][destinationIPv4Address]}:%{[flows][destinationTransportPort]} %{[flows][protocolIdentifier]}" }
            }
	}
	if ([flows][protocolIdentifier] == 6) {
            if ([flows][initialTCPFlags] == "S" or [flows][initialTCPFlags] == "ECS") {
                mutate {
	            add_field => { "server_ip" => "%{[flows][destinationIPv4Address]}" }
		    add_field => { "server_port" => "%{[flows][destinationTransportPort]}" }
                    add_field => { "server_ip_port" => "%{server_ip}:%{server_port}" }
		    add_field => { "client_ip" => "%{[flows][sourceIPv4Address]}" }
	            add_field => { "client_ip_server_ip" => "%{client_ip} - %{server_ip}" }
	            add_field => { "client_ip_server_ip_port" => "%{client_ip} - %{server_ip}:%{server_port}" }
	        }
            } else if ([flows][reverseInitialTCPFlags] == "S" or [flows][reverseInitialTCPFlags] == "ECS") {
                mutate {
	            add_field => { "server_ip" => "%{[flows][sourceIPv4Address]}" }
	            add_field => { "server_port" => "%{[flows][sourceTransportPort]}" }
	            add_field => { "server_ip_port" => "%{server_ip}:%{server_port}" }
	            add_field => { "client_ip" => "%{[flows][destinationIPv4Address]}" }
	            add_field => { "client_ip_server_ip" => "%{client_ip} - %{server_ip}" }
	            add_field => { "client_ip_server_ip_port" => "%{client_ip} - %{server_ip}:%{server_port}" }
	        }
            }
	}
        fingerprint {
            source => "message"
            target => "[@metadata][fingerprint]"
            method => "SHA256"
        }
        mutate {
            remove_field => "message"
        }
    }
}

output {
    if ([type] == "ipfix") {
        elasticsearch {
        {% if elasticsearch_vm == 5 %}
            hosts => [ "{{ node01_ip_address }}:9200", "{{ node02_ip_address }}:9200", "{{ node03_ip_address }}:9200", "{{ node04_ip_address }}:9200", "{{ node05_ip_address }}:9200" ]
        {% elif elasticsearch_vm == 3 %}
            hosts => [ "{{ node01_ip_address }}:9200", "{{ node02_ip_address }}:9200", "{{ node03_ip_address }}:9200" ]
        {% else %}
            hosts => ["localhost:9200"]
        {% endif %}
        {% if elasticstack_system == 'opendistro_docker' or elasticstack_system == 'opendistro_apt' %}
            ssl => true
            ssl_certificate_verification => false
            user => "{{ logstash_user }}"
            password => "{{ logstash_password }}"
            ilm_enabled => false
        {% endif %}
            index => "%{index}"
            document_id => "%{[@metadata][fingerprint]}"
        }
    }
}
