COLLECTOR TCP
   PORT 4739
COLLECTOR END
#custom field lists
EXPORTER TEXT "yaf"
   PATH "{{ home_dir }}/yaf/json/yaf"
   JSON
   ROTATE 86400
EXPORTER END
LOG "{{ home_dir }}/yaf/log/super_mediator.log"
PIDFILE "/tmp/super_mediator.pid"
