COLLECTOR TCP
   PORT 4739
COLLECTOR END
#custom field lists
EXPORTER TEXT "yaf"
   PATH "{{ home_dir }}/yaf/json/yaf"
   JSON
   ROTATE 86400
   FIELDS SIP,DIP,SPORT,DPORT,PROTOCOL,APPLICATION,OBDOMAIN,VLAN,FLOWKEYHASH,DURATION,STIME,ETIME,RTT,PACKETS,RPACKETS,BYTES,RBYTES,IFLAGS,RIFLAGS,UFLAGS,RUFLAGS,ATTRIBUTES,RATTRIBUTES,MAC,DSTMAC,TCPSEQ,RTCPSEQ,ENTROPY,RENTROPY,ENDREASON,OSNAME,OSVERSION,ROSNAME,ROSVERSION,FINGERPRINT,RFINGERPRINT,DHCPFP,DHCPVC,RDHCPFP,RDHCPVC,INGRESS,EGRESS,DATABYTES,RDATABYTES,ITIME,RITIME,STDITIME,RSTDITIME,TCPURG,RTCPURG,SMALLPKTS,RSMALLPKTS,LARGEPKTS,RLARGEPKTS,NONEMPTYPKTS,RNONEMPTYPKTS,MAXSIZE,RMAXSIZE,STDPAYLEN,RSTDPAYLEN,FIRSTEIGHT,DPI,TOS,RTOS,COLLECTOR,FIRSTNONEMPTY,RFIRSTNONEMPTY,MPTCPSEQ,MPTCPTOKEN,MPTCPMSS,MPTCPID,MPTCPFLAGS,PAYLOAD,RPAYLOAD,DHCPOPTIONS,RDHCPOPTIONS,NDPI_MASTER,NDPI_SUB
EXPORTER END
LOG "{{ home_dir }}/yaf/log/super_mediator.log"
PIDFILE "/tmp/super_mediator.pid"
